.App{
    background: url("Component/wp_3840x2160_animals_153754717689.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}